body {
  font-size: .975rem;
  background-color: #F2F4FF !important;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -0.5px 0 0 rgba(87, 45, 45, 0.1);

  &-sticky{
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #3E3065;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: white;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: white;
}

.sidebar .nav-link.active {
  color: #cfd8e2;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: white;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
   * Content
   */

[role="main"] {
  padding-top: 48px;
  /* Space for fixed navbar */
}

/*
   * Navbar
   */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
  
  &:focus{
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(238, 225, 225, 0.25);
  }
}

.logo_lg {
  width: 180px;
}

.container-logo {
  width: 180px;
  margin-bottom: 40px;
  margin-left: 20px;
  background-color:#F2F4FF;
}

.text_details{
  font-size: 1rem;
  color: #8b949c;
  padding-bottom: 1.5rem;
  //padding-left: 2rem;
  text-transform: uppercase;
}

.text-left {
  padding-left: 2rem
}

.row-color-total {
  background-color: orange;
}

$color-primary: rgb(228, 154, 17);
$color-secondary: rgb(247, 194, 95);

.row-color-total {
  background-color: $color-primary
}

.row-color {
  background-color: $color-secondary
}

.text-total {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-top: 2rem;
}

.blue{
  color: #5631bb;
}
.dark-blue{
  color: rgb(6, 6, 80);
}

.icon-button {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

$amplify-color: orange;

:root{
  --amplify-primary-color:#3E3065;
  --amplify-primary-tint: rgb(129, 129, 245);
  --amplify-primary-shade: rgb(121, 121, 209);
}

